/* MENU */
:root{
  --border-primary: #fff
}
.navbar{
    background: #f2c9fd;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse{
    text-align: center;
}
.navbar li a{
    color: #484848 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #ffffff !important;
    background-color: rgb(197, 194, 194) !important;
    border-radius: 8px;
}

.navbar-default .navbar-toggle{
    border-style: none;
}
.icon-bar{
    background-color: white !important;
}
h1,h2,h3,p,li,a{
    font-family: 'Montserrat', sans-serif;
  }

  .titre-site{
    font-family:'Dancing Script', cursive;
    font-size: 60px;
  }

  #accueil{
    background-image: url(/images/icones-couturiere_23-2147518450.jpg);
    background-color: rgb(214, 214, 214,0.6);
  }
#accueil .container{
    padding-top: 150px;
    padding-bottom: 100px;
}
#accueil h3{
  font-size: 30px;
  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
}
.accueil{
    background: #f2c9fd;
  }
  .accueil h1{
    font-size: 40px;
    margin: 30px 0 0 0;
  }
  .accueil .image-1{
    margin-top: -10px;
    border-radius: 8px;
  }
  .accueil p{
    margin-bottom: 40px;
    line-height: 1.5em;
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
  }
  .services .titre-1{
    margin-bottom: 40px;
    font-size: 40px;
  }

  .services-card{
    margin-right: 10px;
  }
  .card-body{
    border: #f2c9fd solid 2px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
 
  .card-body h3{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .card-body p{
    line-height: 1.5em;
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
  }

  #products{
    background: #f2c9fd;
  }
  #products .images img{
    max-width: 400px;
  }
  #products .card{
    border: rgb(197, 197, 197) solid 1px;
    border-radius: 3px;
    margin-bottom: 60px;
  }
  #products .card-body{
    border: none;
  }
  #products h1{
    font-size: 40px;
  }
  #products .heading{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #products .heading h1{
    color: #484848;
  }
  #products .heading h2{
    font-size: 30px;
  }
  #products .heading img{
    margin-right: 8px;
    margin-top: -15px;
  }
  #products .heading h2:after{
    content: '';
    height: 3px;
    width: 400px;
    background: white;
    display: block;
    margin-left: 32%;
    margin-top: 10px;

  }
  .button-1{
    font-weight: bold;
    font-size: 20px;
    font-family:'Montserrat', sans-serif; 
    color: black;
    background: white;
    border: 1px solid #484848;
    display: inline-block;
    padding: 18px 50px;
    margin-bottom: 50px;
    border-radius: 3px;
  }
  .button-1:hover{
    background: white;
    color: rgb(220, 60, 235);
    text-decoration: none;
    transition: all 0.3s ease-in 0s;
  }
  .texte-3{
    font-size: 15px;
    margin-top: 20px;
  }
  
  .texte-4{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
  }

  #blog .heading{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #blog .heading img{
    margin-right: 5px;
  }
  #blog .card-body{
    border: none;
  }

  #contact{
    background: #f2c9fd;
  }
  
  #contact .heading{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #contact .heading img{
    margin-right: 5px;
  }
  
  #main-footer{
    background: #484848;
    color: white;
  }
  
    